spring:
  application:
    name: api

  datasource:
    url: jdbc:postgresql://localhost:5432/gh-events
    username: postgres
    password: postgres

  jpa:
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        jdbc.time_zone: UTC
        jdbc.batch_size: 15
        order_inserts: true
        order_updates: true
        query.fail_on_pagination_over_collection_fetch: true
        query.in_clause_parameter_padding: true
    hibernate:
      ddl-auto: none

  liquibase:
    change-log: classpath:liquibase/db.changelog-init-message.yaml
    enabled: true